.production__text {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin: auto 16px 10px auto;
    max-width: 205px;
}